.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(202, 255, 237);
  border-bottom: 1px solid black;
  position: fixed;
  width: 100vw;
}

.issues-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 75px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.issues-type:hover:not(.issues-type-active) {
  text-decoration: underline;
}

.issues-type:not(:first-child):not(:last-child) {
  margin: 0 75px;
}

.issues-type-active {
  background-color: lightgray;
  border: 1px solid black;
  cursor: auto;
}
