.issue-page{
  padding-top: 50px;
}
.issues-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.issues-list-container > div {
  margin-top: 25px;
}

.issues-modal-container > div {
  margin-top: 25px;
}

.add-issue {
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    font-size: 20px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 0 !important;
    box-shadow: 0px 4px 4px lightgrey;
}

.archive-issue {
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    font-size: 20px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 60px;
    bottom: 10px;
    padding: 0 !important;
    box-shadow: 0px 4px 4px lightgrey;
}

.project-number-header {
  margin: auto;
  text-align: center;
}
