.message {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.message-field {
  position: fixed;
  bottom: 0px;
  height: 40px;
  padding-top: 10px;
  background-color: white;
}

.text-chat {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.user-name {
  padding-left: 4px;
  font-weight: 700;
}

.message-text {
  margin-top: 5px;
  padding: 8px;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  width: fit-content;
}
