.message {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.message-field {
  position: fixed;
  bottom: 0px;
  height: 40px;
  padding-top: 10px;
  background-color: white;
}

.text-chat {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}
